<span id="show-page" class="hidden"></span>
<section class="gallery">

    <div class="gallery-content centred">

        <h2 class="page-title">
            Фотоотчеты
        </h2>

        <div class="content-items">

            <ul class="items-container">
                <li class="events-card" *ngFor="let event of eventsData">        
                    <a href="#" target="_blank" class="events-card-area">        
                        <div class="events-card-description">
                            
                            <div class="titles">

                                <h3 class="title">
                                    {{ event.title }}
                                </h3>

                                <p class="subtitle">
                                    {{ event.subtitle }}
                                </p>

                            </div>

                            <div class="info">
                                <p class="info-text">
                                    Подробнее
                                </p>
                            </div>

                        </div>
                    </a>
                </li>
            </ul>

            <div class="main-item">
              
                <div class="main-card">        
                    <a href="#" target="_blank" class="main-card-area">        
                        <div class="main-card-description">
                            
                            <div class="main-titles">

                                <h3 class="main-title">
                                    Встречайте квартал-95
                                </h3>

                                <p class="main-subtitle">
                                    Встречайте квартал-95
                                </p>

                            </div>

                            <div class="main-info">
                                <p class="main-info-text">
                                    Подробнее
                                </p>
                            </div>

                        </div>
                    </a>
                </div>

            </div>

        </div>

    </div>

</section>