.menu {
    position: relative;
    width: 100%;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    background-image: url('../../../assets/images/restaurant-bg.jpg');
    background-size: cover;
}

.menu::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, .6);
    z-index: 0;
}

.menu-content {
    position: relative;
    width: 100%;
    margin: 260px 0 0 170px;
    z-index: 2;
}

.block-heading {
    margin: 20px 0;
    padding-left: 5px;
    font-family: "acboucle", sans-serif;
    font-size: 73px;
    color: #fff;
    text-transform: uppercase;
}

.menu-horizontal {
    display: flex;
}

.menu-item {
    width: 485px;
    height: 510px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 40px;
    font-family: "acboucle", sans-serif;
    font-size: 46px;
    color: #fff;
    text-transform: uppercase;
}