<span id="show-page" class="hidden"></span>
<section class="menu">

    <div class="menu-content">

        <h2 class="block-heading">
            Меню ресторана
        </h2>

        <ul class="menu-horizontal">

            <li class="menu-item" *ngFor="let dish of dishData">

                <img src="{{ dish.img }}" alt="dish category">

                <h3>
                    {{ dish.category }}
                </h3>

            </li>

        </ul>

    </div>

</section>