.greet-header {
    position: fixed;
    width: 100%;
    height: 140px;
    padding-top: 20px;
    top: 0;
    left: 0;
    background-image: linear-gradient(to bottom, #121212, rgba(11, 11, 11, .30) 80%, transparent);
    z-index: 5;
}

.header__nav, .nav__ul {
    display: flex;
    justify-content: space-between;
    height: 100%;
}

.nav__ul {
    width: 39%;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: border-box;
}

.header__links {
    position: relative;
    padding: 0 5px;
    font-family: "acboucle", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #9c9191;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .2s;
}

.header__links::before, .header__links::after {
    content: '';
    position: absolute;
    width: 57px;       
    height: 20px;
    left: calc(50% - 23.5px);
    background: url("../../../assets/images/links-hover.png") no-repeat;
    transition: .2s;
}

.header__links::before {
    top: -14px;
    clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
    background-position-y: 0px;
}

.header__links::after {
    bottom: -12px;
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
    background-position-y: -32px;
}

.header__links:hover {
    color: #fff;
    transition: all .2s;
}

.header__links:hover::before {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.header__links:hover::after {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
    transition-delay: .2s;
}

.active-page {
    position: relative;
    color: #fff;
}

.active-page::after, .active-page::before {
    content: "";
    position: absolute;
    left: calc(50% - 23.5px);
    width: 57px;
    height: 20px;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.greet-footer {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    bottom: 0;
    left: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #fff;
    background-image: linear-gradient(to top, #000, rgba(11, 11, 11, .30) 70%, transparent);
    z-index: 5;
}

.footer__call-us {
    position: relative;
    width: 380px;
    height: 100%;
    padding-top: 45px;
    box-sizing: border-box;
}

.footer__call-us::before {
    content: url('../../../assets/images/call-us-arrow.png');
    position: absolute;
    left: 0;
    bottom: 17px;
    transform: translate(0, 0) scale(0.85);
    transition: all .3s;
}

.footer__call-us:hover .fresh-news {
    transform: translate(0px, -15px);
    transition: all .3s;
}

.footer__call-us:hover::before {
    transform: translate(0, -20px) scale(0);
    transition: all .3s;
}

.footer__call-us:hover .phone-hidden {
    opacity: 1;
    transform: translate(0px, 0px);
    transition: all .3s;
}

.fresh-news {
    transform: translate(32px, 8px);
    transition: all .3s;
}

.phone-hidden {
    position: absolute;
    opacity: 0;
    font-family: "acboucle", sans-serif;
    font-size: 15px;
    transform: translate(0px, 10px);
    color: #fff;
    transition: all .3s;
}

.footer__equalizer {
    width: 23px;
    height: 17px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    cursor: pointer;
}

.footer__equalizer > span {
    position: relative;
    width: 3px;
    height: 7px;
    bottom: 0;
    background-color: #fff;
    transition: all .2s;
}

.footer__equalizer > span::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #ffff00;
    transition: all .4s;
}

.equalizer-column1.play-audio {
    animation: play .9s infinite;
}

.equalizer-column2.play-audio {
    animation: play 1s infinite; 
}

.equalizer-column3.play-audio {
    animation: play .7s infinite;
}

.equalizer-column4.play-audio {
    animation: play 1.1s infinite;
}

.equalizer-column5.play-audio {
    animation: play 1s infinite;
}

.footer__equalizer:hover > span {
    height: 9px;
    transition: all .2s;
}

.footer__equalizer:hover > span::after {
    height: 100%;
    transition: all .4s;
}

@keyframes play {
    0% {
        height: 8px;
    }
    50% {
        height: 17px;
    }
    100% {
        height: 8px;
    }
}

.tablet-phone, .tablet-nav {
    display: none;
    cursor: pointer;
}

.hamburger {
    display: block;
    height: 3px;
    background-color: #fff;
}

.hamburger-part1 {
    width: 23px;
}

.hamburger-part2 {
    width: 21px;
}

.hamburger-part3 {
    width: 25px;
}

.hidden-mobile {
    display: none;
}

@media screen and (min-width: 1700px) {

    .header__links {
        font-size: 23px;
    }

}

@media screen and (max-width: 1200px) {

    .greet-header {
        padding-top: 10px;
    }

    .nav__ul {
        display: none;
    }

    img {
        width: 80px;
        height: 70px;
    }

    .tablet-nav {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 22px;
        margin-top: 20px;
    }

    .tablet-phone {
        display: flex;
        width: 30px;
        height: 34px;
        margin: 7px 0 0 3px;
    }

}