<div class="greet-header centred">

    <nav class="header__nav">

        <div id="hamburger" class="tablet-nav flex direction-column justify-between" (click)="dropMenu()">
            <span class="hamburger hamburger-part1"></span>
            <span class="hamburger hamburger-part2"></span>
            <span class="hamburger hamburger-part3"></span>    
        </div>

        <ul class="nav__ul">

            <li>
                <a class="header__links" routerLink="events" routerLinkActive="active-page">
                    События
                </a>
            </li>

            <li>
                <a class="header__links" routerLink="menu" routerLinkActive="active-page">
                    Меню ресторана
                </a>
            </li>

            <li>
                <a class="header__links" routerLink="blog" routerLinkActive="active-page">
                    Наш блог
                </a>
            </li>

        </ul>

        <a routerLink="/">
            <img src="../../../assets/images/logo.png" width="119" height="103">
        </a>

        <ul class="nav__ul">

            <li>
                <a class="header__links" routerLink="gallery" routerLinkActive="active-page">
                    Галерея
                </a>
            </li>

            <li>
                <a class="header__links" routerLink="about" routerLinkActive="active-page">
                    О караоке
                </a>
            </li>

            <li>
                <a class="header__links" routerLink="contacts" routerLinkActive="active-page">
                    Контакты
                </a>
            </li>

        </ul>

        <a class="tablet-phone" href="tel:=+380503122139" target="_blank">
            <svg 
                class="tablet-phone" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" 
                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" 
                style="enable-background:new 0 0 512 512;" xml:space="preserve"
                >
                <style type="text/css"> 
                    .__2VhNdCu__st0{fill:#FFFFFF;} 
                </style>
                <g>
                    <path class="__2VhNdCu__st0 " 
                        d="M412.1,502.4c-18.3-3-47.8-13.7-73.6-32.5C273,422,240.6,395.7,180.1,335.2C120.2,275.4,75.6,231,41.9,
                        173.3 c-1-1.6-1.9-3.3-2.8-4.9C13.4,122.9,9.4,89.4,15,62.8c1.4-6.8,4-13.1,7.9-18.2c0.7-0.9,1.6-1.6,
                        2.4-2.5c17-17.9,24.9-26,44.3-31.7 c8.3-2.4,17.2-1,24.3,3.9c14.1,9.9,27.7,30.3,42.2,48.3c21.2,27.2,49.3,
                        72,20.5,102.1c-0.7,0.7-1.4,1.5-2,2.3l-3.3,4.1 c-0.4,0.5-0.8,0.9-1.2,1.4c-6.2,6.9-30.9,45.3,54.1,
                        130.3c28.7,28.7,49,39.9,75.2,50.9c11.9,5.5,33.2,12.4,46.7,10.5 c4.7-0.7,14.9-4.7,19.2-8.5l0,0c27.9-22.9,
                        60.6-7.9,109.5,26c0.5,0.4,1.1,0.8,1.6,1.2c20.5,16.4,34.8,23.2,39.2,37 c1.2,3.8,1.5,7.9,0.9,11.9c-3.4,
                        24.5-8.9,32.7-25.6,53.4c-0.8,1-1.7,2-2.6,2.8c-1.2,1.1-2.3,2.2-3.5,3.3c-3.9,3.8-8.5,6.7-13.6,8.7 C440.4,
                        504.5,428.7,505.1,412.1,502.4z">
                    </path>
                </g>
            </svg>
        </a>

    </nav>

</div>

<div id="mobile-nav" class="hidden-mobile mobile-nav">

    <div class="mobile-nav__container centred">
    
        <ul>
            <li>
                <a routerLink="events">
                    События
                </a>
            </li>
            <li>
                <a routerLink="menu">
                    Меню ресторана
                </a>
            </li>
            <li>
                <a routerLink="blog">
                    Наши новости
                </a>
            </li>
            <li>
                <a routerLink="gallery">
                    Галерея
                </a>
            </li>
            <li>
                <a routerLink="about">
                    О караоке
                </a>
            </li>
            <li>
                <a routerLink="contacts">
                    Контакты
                </a>
            </li>
        </ul>
    
        <div class="mobile-nav__container__social">
    
            <a href="" class="social facebook"></a>
            <a href="" class="social insta"></a>
            <a href="" class="social telegram"></a>
            <a href="" class="social smth"></a>
    
        </div>
    
    </div>
    
</div>

<div class="greet-footer centred">

    <div class="footer__call-us">
        <p class="footer__main-text fresh-news">
            Будь в курсе самых свежих новостей
        </p>
        <a href="tel:0503122139" target="_blank" class="phone-hidden">
            +380503122139
        </a>
    </div>

    <div id="equalizerBtn" class="footer__equalizer" (click)="toggleAudioState()">
        <span class="equalizer-column1 play-audio"></span>
        <span class="equalizer-column2 play-audio"></span>
        <span class="equalizer-column3 play-audio"></span>
        <span class="equalizer-column4 play-audio"></span>
        <span class="equalizer-column5 play-audio"></span>
    </div>

</div>