<span id="show-page" class="hidden"></span>
<div class="about-page">

    <section class="about-intro">
        
        <div class="about centred">
        
            <h2>
                лучший караоке клуб страны
            </h2>

            <p>
                идеальное сочетание вкуса и звука
            </p>
        
        </div>
        
    </section>
    
    <section class="about-quote">
    
        <q>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает 
            сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более 
            или менее стандартное заполнение шаблона
        </q>
    
    </section>
    
    <div class="about-gallery centred">
    
        <div class="gallery-content">
                
            <img src="../../../assets/images/intro-bg.jpg" width="1330" height="750" alt="grammy photo">
    
        </div>
    
    </div>
    
    <div class="about-restaurant">
    
        <div class="restaurant-content">
    
            <div class="restaurant-content-text">
    
                <p class="restaurant-text">
                    Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает 
                    сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более 
                    или менее стандартное заполнение шаблона
                </p>
    
                <a href="" class="restaurant-link">
                    смотреть promo
                </a>
    
            </div>
    
            <div class="restaurant-image"></div>
    
        </div>
    
    </div>
    
    <div class="about-outro">
    
        <p>
            Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает 
            сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более 
            или менее стандартное заполнение шаблона
        </p>
    
    </div>
    
</div>