<span id="show-page" class="hidden"></span>
<section class="blog centred">

    <div class="blog-content">

        <h2 class="page-title">
            Наши новости
        </h2>

        <ul class="news-container">

            <li *ngFor="let news of newsData" class="news-card">
                <a href="#" target="_blank" class="news-card-area">        
                    <div class="news-card-description">        
                        <div class="titles">        
                            <p class="description">
                                {{ news.description }}
                            </p>
                        </div>
                        <div class="info">
                            <p class="info-text">
                                Подробнее
                            </p>
                        </div>
                    </div>
                </a>
            </li>

        </ul>

    </div>

</section>