.home-body {
    width: 100%;
}

.intro__area {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.intro__area::before, .intro__area::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
}

.intro__area::after {
    width: 100%;
    height: 100%;
    background-image: radial-gradient(transparent, rgba(18, 18, 18, .7));
    z-index: -1;
}

.intro__area::before {
    background-color: rgba(18, 18, 18, .5);
    z-index: -1;
}

.intro__video {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    top: 0;
    left: 0;
    z-index: -2;
}

.intro__content {
    width: 785px;
    display: flex;
    flex-direction: column;
    margin-top: 40px;
}

.intro__title, .intro__title-subtext, .intro__reserve {
    font-family: "acboucle", sans-serif;
    color: #fff;
    text-transform: uppercase;
}

.intro__title {
    font-size: 73px;
    margin: 20px 0 19px 0;
}

.intro__title-subtext {
    margin-bottom: 34px;
    font-size: 27px;
    line-height: 37px;
}

.subtext-line {
    display: inline-block;
    width: 100px;
    height: 3px;
    margin: 0 0 10px 5px;
    background-color: #fcfb03;
}

.intro__reserve {
    position: relative;
    width: 210px;
    font-size: 27px;
    transition: all .3s;
}

.intro__reserve::after {
    content: "";
    position: absolute;
    width: 3px;
    height: 3px;
    left: calc(100% + 73px);
    bottom: calc(50% - 2px);
    opacity: 0;
    background-color: #fcfb03;
    border-radius: 50%;
}

.reserve-line {
    position: absolute;
    left: 100%;
    bottom: calc(50% - 1px);
    width: 0;
    height: 2px;
    background-color: #fcfb03;
    transition: width .3s;
}

.intro__reserve:hover {
    padding-left: 15px;
    transition: all .3s;
}

.intro__reserve:hover .reserve-line {
    width: 70px;
    transition: width .3s;
}

.intro__reserve:hover::after {
    opacity: 1;
    transition-delay: .3s;
}

/* intro ends here */

.home__main {
    position: relative;
    width: 100%;
    box-shadow: 0px -50px 130px 68px rgba(18, 18, 18, 1);
    background-color: #0A040C;
}

.home__main::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(18, 18, 18, .8);
    z-index: 0;
}

/* events starts here */

.home-events {
    position: relative;
    min-height: 100vh;
    padding-top: 260px;
    color: #fff;
    font-family: "acboucle", sans-serif;
    text-transform: uppercase;
    box-sizing: border-box;
    z-index: 1;
}

.block-heading {
    margin: 20px 0;
    font-family: "acboucle", sans-serif;
    font-size: 73px;
    color: #fff;
    text-transform: uppercase;
}

.cards-container {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding: 40px 0;
}

.events-card {
    width: 23%;
    height: 450px;
    border: 1px solid #31271E;
    box-shadow: 0 0 25px 5px #000;
    box-sizing: border-box;
    transition: border .4s;
}

.events-card:hover {
    border: 1px solid #7D623A;
    transition: border .4s;
}

.events-card-area, .events-card-description, .titles {
    display: flex;
    flex-direction: column;
}

.events-card-area {
    width: 100%;
    height: 100%;
    justify-content: flex-end;
    background: url("../../../assets/images/events-bg.png");
    background-size: cover;
}

.events-card-description {
    position: relative;
    height: 102px;
    justify-content: flex-end;
    color: #fff;
    border-top: 1px solid #7D623A;
    background-color: #0A040C;
    transition: all .4s;
}

.events-card-description::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: calc(50% - 25px);
    background-image: url("../../../assets/images/events-sticker.png");
    background-size: cover;
    border: 2px solid #846C39;
    border-radius: 50%;
}

.events-card:hover .events-card-description {
    height: 157px;
    transition: all .4s;
}

.titles {
    height: 55px;
    justify-content: space-between;
    margin-bottom: 10px;
    text-align: center;
}

.title {
    font-size: 23px;
}

.subtitle {
    font-size: 18.5px;
}

.info {
    height: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    font-size: 14px;
    border-top: 1px solid transparent;
    transition: all .4s;
}

.info-text {
    position: relative;
}

.info-text::before {
    content: "→";
    position: absolute;
    top: 0;
    right: -20px;
    opacity: 1;
    color: #fff;
    transition: all .4s;
}

.info-text::after {
    content: "→";
    position: absolute;
    top: 0;
    right: 10px;
    opacity: 0;
    color: #fcfb03;
    transition: all .4s;
}

.info:hover .info-text::before {
    right: -50px;
    opacity: 0;
    transition: all .4s;
}

.info:hover .info-text::after {
    right: -20px;
    opacity: 1;
    transition: all .4s;
}

.events-card:hover .info {
    height: 54px;
    opacity: 1;
    border-top: 1px solid #7D623A;
    transition: all .4s;
}

/* events ends here */
/* restaurant starts here */

.home-restaurant {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.restaurant-content {
    position: relative;
    width: 100%;
    height: 1002px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 170px;
    box-sizing: border-box;
}

.restaurant-content-text {
    width: 793px;
    height: 700px;
    display: flex;
    flex-direction: column;
    padding: 65px 0 0 10px;
    color: #fff;
    background-color: #0f0c10;
    z-index: 1;
    box-sizing: border-box;
}

.restaurant-content-text h2 {
    margin-bottom: 35px;
}

.restaurant-text {
    width: 640px;
    margin-bottom: 40px;
    font-family: "robotocond regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
}

.restaurant-link {
    font-family: "acboucle", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

.restaurant-image {
    content: '';
    position: absolute;
    width: 1218px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: url("../../../assets/images/home-restaurant-bg.png");
}

/* restaurant ends here */
/* gallery starts here */

.home-gallery {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.gallery-content {
    position: relative;
    width: 100%;
    height: 887px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gallery-content img {
    position: relative;
    z-index: 1;
}

.gallery-heading {
    position: absolute;
    top: -55px;
    left: calc(50% - 100px);
}

.gallery-content::before {
    content: '';
    position: absolute;
    width: calc(100% - 2px);
    height: 885px;
    top: 0;
    left: 0;
    border: 1px solid #373121;
    z-index: 0;
}

.gallery-content::after {
    content: url('../../../assets/images/logo-gallery.png');
    position: absolute;
    top: -220px;
    left: calc(50% - 200px);
    z-index: 0;
}

/* gallery ends here */
/* about starts here */

.home-about {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
}

.about-content {
    position: relative;
    width: 100%;
    height: 1002px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding-right: 170px;
    box-sizing: border-box;
}

.about-content-text {
    width: 705px;
    height: 700px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 65px 10px 0 0;
    color: #fff;
    background-color: #0f0c10;
    z-index: 1;
    box-sizing: border-box;
}

.about-content-text h2 {
    margin-bottom: 35px;
}

.about-text {
    width: 640px;
    margin-bottom: 40px;
    font-family: "robotocond regular", sans-serif;
    font-size: 24px;
    line-height: 32px;
    text-align: justify;
}

.about-link {
    font-family: "acboucle", sans-serif;
    font-size: 28px;
    text-transform: uppercase;
}

.about-image {
    content: '';
    position: absolute;
    width: 1218px;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url("../../../assets/images/home-about-bg.png");
}

/* about ends here */
/* quote starts here */

.home-quote {
    width: 100%;
    height: 530px;
    padding-top: 20px;
    box-sizing: border-box;
}

.home-quote q {
    position: relative;
    display: block;
    font-family: "acboucle", sans-serif;
    font-size: 46px;
    line-height: 74px;
    text-align: justify;
    text-transform: uppercase;
    color: #fff;
}

.home-quote q::before, .home-quote q::after {
    color: #e7e604;
    font-size: 138.33px;
    line-height: 74px;
}

.home-quote q::before {
    content: '“';
}

.home-quote q::after {
    content: '”';
    position: absolute;
    bottom: 25px;
}

/* quote ends here */