/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

@font-face {
	font-family: "acboucle";
	src: url('./assets/fonts/ACBoucle.ttf') format('truetype');
	font-weight: 400;
}

@font-face {
	font-family: "robotocond regular";
	src: url('./assets/fonts/RobotoCondensed-Regular.ttf') format('truetype');
	font-weight: 400;
}

.centred {
    padding: 0 100px;
    box-sizing: border-box;
}

.hidden {
    position: fixed;
    display: block;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    z-index: 4;
    animation-name: show;
    animation-delay: .2s;
    animation-duration: .2s;
}

@keyframes show {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
    100% {
        opacity: 0;
    }
}

@media screen and (min-width: 1700px) {

	.centred {
		padding: 0 170px;
	}

}

@media screen and (max-width: 1200px) {

	.centred {
		padding: 0 75px;
	}

}

@media screen and (max-width: 900px) {

	.centred {
		padding: 0 65px;
	}

}

@media screen and (max-width: 700px) {

	.centred {
		padding: 0 30px;
	}

}